name: CI
run-name: ${{ github.actor }} running CI
on:
  push:
    branches:
      - main
jobs:
    check-formatting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up PDM
              uses: pdm-project/setup-pdm@v4
              with:
                python-version: '3.13'
            - name: Install dependencies
              run: pdm sync
            - name: Check format
              run: pdm run ruff format --check ./src
    deploy-gh-pages:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: '3.13'
            - name: Publish docs
              run: |
                pip install mkdocs-material 
                pip install mkdocstrings
                mkdocs gh-deploy --force
