name: CI
run-name: ${{ github.actor }} running CI
on:
  push:
    branches:
      - main
jobs:
    check-formatting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up PDM
              uses: pdm-project/setup-pdm@v4
              with:
                python-version: '3.13'
            - name: Install dependencies
              run: |
                pdm sync
            - name: Check format
              run: pdm run ruff format --check ./src
    deploy:
        runs-on: ubuntu-latest
        steps:
            # - uses: actions/checkout@v4
            # - name: Configure Git Credentials
            #   run: |
            #     git config user.name github-actions[bot]
            #     git config user.email 41898282+github-actions[bot]@users.noreply.github.com
            # - uses: actions/setup-python@v5
            #   with:
            #     python-version: 3.x
            # - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
            # - uses: actions/cache@v4
            #   with:
            #     key: mkdocs-material-
            #     path: ~/.cache 
            #     restore-keys: |
            #       mkdocs-material-
            - uses: actions/checkout@v4
            - name: Set up PDM
              uses: pdm-project/setup-pdm@v4
              with:
                python-version: '3.13'
            - name: Install dependencies
              run: |
                pdm sync
            - name: Publish docs
              run: mkdocs gh-deploy --force
