name: CI
run-name: ${{ github.actor }} running CI
on:
  push:
    branches:
      - '*'
      - '!gh-pages'
jobs:
    check-formatting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up PDM
              uses: pdm-project/setup-pdm@v4
              with:
                python-version: '3.12'
            - name: Install dependencies
              run: |
                pdm sync
            - name: Check format
              run: pdm run ruff format --check ./src
